<div class="col">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= key %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Total Entities</h6>
      <p class="card-text"><%= value %></p>
    </div>
  </div>
</div>
