<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
  </head>
  <body>
    <div
      class="root container-fluid d-flex justify-content-center align-items-center"
    >
      <%- body %>
    </div>
  </body>
</html>
